<html>
	<head>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">

    	<meta name="viewport" content="initial-scale=1" />

		<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>

		<script type="text/javascript" src="app.js"></script>

	</head>
	<body ng-app="druge" ng-controller="main">
		<nav class="navbar navbar-custom">
		  	<div class="container-fluid">
				<a class="navbar-brand" target="_blank" href="https://chrome.google.com/webstore/detail/varmasterpiece/chfhddogiigmfpkcmgfpolalagdcamkl/related">
			  		<span class="pad-left-s">A Better Druge</span>
				</a>

		  		<a class="probity pull-right" target="_blank" href="http://www.probitytechnology.com">
					Probity Technology
		  		</a>
	    	</div>
	    </nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4 h100 scrollY">
					
					<section class="sidebar">
				      	<div ng-repeat="story in stories">
							<div class="row">
								<div class="col-sm-12 storyTitle" ng-click="loadStory(story)" ng-class="{selected: story == active}">
									<h3>{{story.title}}</h3>
								</div>
							</div>
						</div>
					</section>

				</div>
				<div class="col-xs-8 h100 scrollY">
					
					<div id='article'>
						<div class="row activeTitle">
							<div class="col-sm-12 pad-bottom-s">
								<h4>{{active.title}}</h4>
								<a target="_blank" ng-href="{{active.link}}"><i class="fa fa-external-link pad-right-s"></i>{{active.link}}</a>
							</div>
						</div>
							<div class="col-sm-12">
							
								<div class="pad-top-m pad-bottom-m storyContent" ng-bind-html="storyText"></div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</body>
</html>