/* Coolors Exported Palette - coolors.co/2e4952-5db7de-568192-6787a2-45657b */
.pad-right-s {
  padding-right: 10px; }

.pad-top-s {
  padding-top: 10px; }

.pad-bottom-s {
  padding-bottom: 10px; }

.pad-top-m {
  padding-top: 30px; }

.pad-bottom-m {
  padding-bottom: 30px; }

.no-pad-left {
  padding-left: 0px !important; }

.no-pad-right {
  padding-right: 0px !important; }

.h100 {
  height: calc(100vh - 50px); }

.scrollY {
  overflow-y: auto; }

.pointer {
  cursor: pointer; }

h3,
.h3 {
  margin-bottom: 20px; }

.navbar {
  background-color: #6787a2;
  color: white;
  border-radius: 0;
  margin-bottom: 0; }
  .navbar a,
  .navbar a:active,
  .navbar a:visited,
  .navbar a:focus {
    color: white; }
  .navbar .probity {
    padding: 15px; }
  .navbar .drudge {
    font-size: 18px;
    padding: 12px; }

.sidebar .storyListData {
  color: white;
  background-color: #2e4952; }
.sidebar .storyTitle {
  border-bottom: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.6); }
  .sidebar .storyTitle.selected {
    border-left: 5px solid #6787a2;
    padding-left: 10px;
    color: black; }

#article .activeTitle {
  background-color: #2e4952;
  color: white; }
  #article .activeTitle a,
  #article .activeTitle a:active,
  #article .activeTitle a:visited,
  #article .activeTitle a:focus {
    color: white; }
#article .storyContent {
  font-family: Georgia; }
  #article .storyContent p {
    font-size: 19px;
    line-height: 29px; }
#article #loading {
  height: 50px;
  width: 50px;
  font-size: 50px;
  margin: 20px auto;
  color: #6787a2; }
