@import palette

$bootstrapDefaultPadding: 15px
$activeIndicatorWidth: 5px

//UTILITY CLASSES
.pad-right-s
	padding-right: 10px

.pad-top-s
	padding-top: 10px

.pad-bottom-s
	padding-bottom: 10px

.pad-top-m
	padding-top: 30px

.pad-bottom-m
	padding-bottom: 30px

.no-pad-left
	padding-left: 0px !important

.no-pad-right
	padding-right: 0px !important

.h100
	height: calc(100vh - 50px)

.scrollY
	overflow-y: auto

.pointer
	cursor: pointer

//DEFAULT OVERRIDE
h3, 
.h3 
	margin-bottom: 20px

//CUSTOM PAGE STYLING
.navbar
	background-color: $light
	color: white
	border-radius: 0
	margin-bottom: 0

	a,
	a:active,
	a:visited,
	a:focus
		color: white

	.rhsLink
		padding: 8px
		margin: 7px
		border: 1px solid white
		border-radius: 2px

	.drudge
		font-size: 18px
		padding: 12px

#sidebar
	.storyListData
		color: white
		background-color: $dark

	.storyTitle
		border-bottom: 1px solid #ccc
		color: rgba(0,0,0, .6)

		&.selected
			border-left: $activeIndicatorWidth solid $light
			padding-left: $bootstrapDefaultPadding - $activeIndicatorWidth
			color: black

#article
	.activeTitle 
		background-color: $dark
		color: white

		a,
		a:active,
		a:visited,
		a:focus
			color: white

	.storyContent 
		//styling for the story we recieve
		font-family: Georgia

		*
			max-width: 100% //don't let anything in the article be larger than the article

		p
			font-size: 19px
			line-height: 29px

		img 
			

			&[src^="/"]  //if the source is an absolute url, the image load will fail, so lets hide it
				display: none
		
		input,
		textarea
			display: none //we want this thing to be clean, so lets hide input fields

	#loading 
		height: 50px
		width: 50px
		font-size: 50px
		margin: 20px auto
		color: $light

#onBoarding
	.text-center-modal-buttons
		text-align: center

	.btn-primary 
		background-color: $light